In [1]:
import numpy as np
import pandas as pd

In [25]:
#ucitavamo skupove podataka
data = pd.read_csv('./data/NBA Regular Season Results 2013-2014.csv')
print (data.dtypes)
data1 = pd.read_csv('./data/NBA Regular Season Results 2013-2014.csv', parse_dates = ['Date'])
data2 = pd.read_csv('./data/NBA Regular Season Results 2012-2013.csv',parse_dates = ['Date'])

Date               object
Start (ET)         object
Visitor/Neutral    object
PTS                 int64
Home/Neutral       object
PTS.1               int64
Unnamed: 6         object
Unnamed: 7         object
Attend.             int64
Notes              object
dtype: object

In [26]:
#preimenujemo atribute  i brisemo nepotrebne
def changeColumns(dataset):
    dataset.columns = ['Date', 'Start (ET)', 'Visitor Team', 'Visitor PTS', 'Home Team', 'Home PTS', 'Box Score', 
              'OT', 'Attendance', 'Notes']
    dataset = dataset.drop(columns = ['Box Score', 'Notes'])
    return dataset

In [27]:
data1 = changeColumns(data1)
data2 = changeColumns(data2)

In [28]:
#pravimo funkciju koja dodaje atribut 'winning streak' koji oznacava broj uzastopnih pobeda tima do tog meca.
def addWinningStreak(dataset):
    dataset['Visitor Winning Streak'] = 0
    dataset['Home Winning Streak'] = 0
    winStreak = {}
    for ind, row in dataset.iterrows():
        homeTeam = row['Home Team']
        visitorTeam = row['Visitor Team']
        if not visitorTeam in winStreak:
            winStreak[visitorTeam] = 0
        if not homeTeam in winStreak:
            winStreak[homeTeam] = 0
        dataset.set_value(ind, 'Visitor Winning Streak', winStreak[visitorTeam])
        dataset.set_value(ind, 'Home Winning Streak', winStreak[homeTeam])
        if row['Home Win']:
            winStreak[homeTeam] += 1
            winStreak[visitorTeam] = 0
        else:
            winStreak[homeTeam] = 0
            winStreak[visitorTeam] +=1

    return dataset

In [29]:
#kreiramo novi atribut koji oznacava da li je pobednik domaci tim. 
data1['Home Win'] = data1['Home PTS'] > data1['Visitor PTS']
data2['Home Win'] = data2['Home PTS'] > data2['Visitor PTS']
data2.head()

,Date,Start (ET),Visitor Team,Visitor PTS,Home Team,Home PTS,OT,Attendance,Home Win
0,2012-10-30,7:00 pm,Washington Wizards,84,Cleveland Cavaliers,94,NaN,20562,True
1,2012-10-30,7:30 pm,Dallas Mavericks,99,Los Angeles Lakers,91,NaN,18997,False
2,2012-10-30,8:00 pm,Boston Celtics,107,Miami Heat,120,NaN,20296,True
3,2012-10-31,7:00 pm,Sacramento Kings,87,Chicago Bulls,93,NaN,21313,True
4,2012-10-31,7:30 pm,Houston Rockets,105,Detroit Pistons,96,NaN,16646,False

In [30]:
data1 = addWinningStreak(data1)
data2 = addWinningStreak(data2)
data1[ : 50]

C:\Users\Filip\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  del sys.path[0]
C:\Users\Filip\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

,Date,Start (ET),Visitor Team,Visitor PTS,Home Team,Home PTS,OT,Attendance,Home Win,Visitor Winning Streak,Home Winning Streak
0,2013-10-29,7:00 pm,Orlando Magic,87,Indiana Pacers,97,NaN,18165,True,0,0
1,2013-10-29,10:30 pm,Los Angeles Clippers,103,Los Angeles Lakers,116,NaN,18997,True,0,0
2,2013-10-29,8:00 pm,Chicago Bulls,95,Miami Heat,107,NaN,19964,True,0,0
3,2013-10-30,7:00 pm,Brooklyn Nets,94,Cleveland Cavaliers,98,NaN,20562,True,0,0
4,2013-10-30,8:30 pm,Atlanta Hawks,109,Dallas Mavericks,118,NaN,19834,True,0,0
5,2013-10-30,7:30 pm,Washington Wizards,102,Detroit Pistons,113,NaN,19258,True,0,0
6,2013-10-30,10:30 pm,Los Angeles Lakers,94,Golden State Warriors,125,NaN,19596,True,1,0
7,2013-10-30,8:00 pm,Charlotte Bobcats,83,Houston Rockets,96,NaN,18083,True,0,0
8,2013-10-30,8:00 pm,Orlando Magic,115,Minnesota Timberwolves,120,OT,17988,True,0,0
9,2013-10-30,8:00 pm,Indiana Pacers,95,New Orleans Pelicans,90,NaN,17803,False,1,0
10,2013-10-30,7:30 pm,Milwaukee Bucks,83,New York Knicks,90,NaN,19812,True,0,0
11,2013-10-30,7:00 pm,Miami Heat,110,Philadelphia 76ers,114,NaN,19523,True,1,0
12,2013-10-30,10:00 pm,Portland Trail Blazers,91,Phoenix Suns,104,NaN,17208,True,0,0
13,2013-10-30,10:00 pm,Denver Nuggets,88,Sacramento Kings,90,NaN,17317,True,0,0
14,2013-10-30,8:30 pm,Memphis Grizzlies,94,San Antonio Spurs,101,NaN,18581,True,0,0
15,2013-10-30,7:00 pm,Boston Celtics,87,Toronto Raptors,93,NaN,20155,True,0,0
16,2013-10-30,9:00 pm,Oklahoma City Thunder,101,Utah Jazz,98,NaN,19911,False,0,0
17,2013-10-31,8:00 pm,New York Knicks,81,Chicago Bulls,82,NaN,22022,True,1,0
18,2013-10-31,10:30 pm,Golden State Warriors,115,Los Angeles Clippers,126,NaN,19060,True,1,0
19,2013-11-01,7:30 pm,Toronto Raptors,95,Atlanta Hawks,102,NaN,18118,True,1,0
20,2013-11-01,7:30 pm,Milwaukee Bucks,105,Boston Celtics,98,NaN,18624,False,0,0
21,2013-11-01,8:00 pm,Miami Heat,100,Brooklyn Nets,101,NaN,17732,True,0,0
22,2013-11-01,7:00 pm,Cleveland Cavaliers,84,Charlotte Bobcats,90,NaN,18017,True,1,0
23,2013-11-01,9:00 pm,Portland Trail Blazers,113,Denver Nuggets,98,NaN,19155,False,0,0
24,2013-11-01,8:00 pm,Dallas Mavericks,105,Houston Rockets,113,NaN,18142,True,1,1
25,2013-11-01,10:30 pm,San Antonio Spurs,91,Los Angeles Lakers,85,NaN,18997,False,1,0
26,2013-11-01,8:00 pm,Detroit Pistons,108,Memphis Grizzlies,111,OT,18119,True,1,0
27,2013-11-01,8:00 pm,Oklahoma City Thunder,81,Minnesota Timberwolves,100,NaN,17433,True,1,1
28,2013-11-01,7:00 pm,New Orleans Pelicans,90,Orlando Magic,110,NaN,18846,True,0,0
29,2013-11-01,10:00 pm,Utah Jazz,84,Phoenix Suns,87,NaN,14662,True,0,1
30,2013-11-01,10:00 pm,Los Angeles Clippers,110,Sacramento Kings,101,NaN,17317,False,1,1
31,2013-11-01,7:00 pm,Philadelphia 76ers,109,Washington Wizards,102,NaN,17160,False,1,0
32,2013-11-02,8:30 pm,Memphis Grizzlies,99,Dallas Mavericks,111,NaN,20262,True,1,0
33,2013-11-02,10:30 pm,Sacramento Kings,87,Golden State Warriors,98,NaN,19596,True,0,0
34,2013-11-02,7:00 pm,Cleveland Cavaliers,74,Indiana Pacers,89,NaN,16242,True,0,2
35,2013-11-02,8:30 pm,Toronto Raptors,97,Milwaukee Bucks,90,NaN,16046,False,0,1
36,2013-11-02,8:00 pm,Charlotte Bobcats,84,New Orleans Pelicans,105,NaN,15232,True,1,0
37,2013-11-02,7:30 pm,Chicago Bulls,104,Philadelphia 76ers,107,NaN,15782,True,1,2
38,2013-11-02,10:00 pm,San Antonio Spurs,105,Portland Trail Blazers,115,NaN,20028,True,2,1
39,2013-11-02,9:00 pm,Houston Rockets,104,Utah Jazz,93,NaN,19498,False,2,0
40,2013-11-03,6:00 pm,Boston Celtics,77,Detroit Pistons,87,NaN,14978,True,0,0
41,2013-11-03,9:30 pm,Atlanta Hawks,103,Los Angeles Lakers,105,NaN,18997,True,1,0
42,2013-11-03,6:00 pm,Washington Wizards,93,Miami Heat,103,NaN,19600,True,0,0
43,2013-11-03,7:30 pm,Minnesota Timberwolves,109,New York Knicks,100,NaN,19812,False,2,0
44,2013-11-03,7:00 pm,Phoenix Suns,96,Oklahoma City Thunder,103,NaN,18203,True,2,0
45,2013-11-03,6:00 pm,Brooklyn Nets,86,Orlando Magic,107,NaN,15297,True,1,1
46,2013-11-04,7:00 pm,Minnesota Timberwolves,92,Cleveland Cavaliers,93,NaN,17892,True,3,0
47,2013-11-04,10:30 pm,Houston Rockets,118,Los Angeles Clippers,137,NaN,19404,True,3,2
48,2013-11-04,8:00 pm,Boston Celtics,88,Memphis Grizzlies,95,NaN,15872,True,0,0
49,2013-11-04,7:00 pm,Golden State Warriors,110,Philadelphia 76ers,90,NaN,11089,False,1,3

In [31]:
#sada ucitavamo bazu koja nam govori kakvi su timovi bili prosle sezone, sto je takodje veoma bitno prilikom predvidjanja.
table2012 = pd.read_csv('./data/2012-2013 Regular Season Standings.csv', index_col = 'Team')
print(table2012.dtypes)
table2012.head()

Rk          int64
Overall    object
Home       object
Road       object
E          object
W          object
A          object
C          object
SE         object
NW         object
P          object
SW         object
Pre        object
Post       object
≤3         object
≥10        object
Oct        object
Nov        object
Dec        object
Jan        object
Feb        object
Mar        object
Apr        object
dtype: object

,Rk,Overall,Home,Road,E,W,A,C,SE,NW,...,Post,≤3,≥10,Oct,Nov,Dec,Jan,Feb,Mar,Apr
Team,,,,,,,,,,,,,,,,,,,,,
Miami Heat,1,66-16,37-4,29-12,41-11,25-5,14-4,12-6,15-1,8-2,...,30-2,9-3,39-8,1-0,10-3,10-5,8-5,12-1,17-1,8-1
Oklahoma City Thunder,2,60-22,34-7,26-15,21-9,39-13,7-3,8-2,6-4,10-6,...,21-8,3-6,44-6,NaN,13-4,11-2,11-5,7-4,12-5,6-2
San Antonio Spurs,3,58-24,35-6,23-18,25-5,33-19,8-2,9-1,8-2,9-9,...,16-12,9-5,31-10,1-0,12-4,12-4,12-3,8-3,10-4,3-6
Denver Nuggets,4,57-25,38-3,19-22,19-11,38-14,5-5,10-0,4-6,11-5,...,24-4,11-7,28-8,0-1,8-8,9-6,12-3,8-4,13-2,7-1
Los Angeles Clippers,5,56-26,32-9,24-17,21-9,35-17,7-3,8-2,6-4,12-6,...,17-9,3-5,38-12,1-0,8-6,16-0,9-7,8-5,7-7,7-1

In [32]:
#dodajemo atribut koji oznacava da li je domaci tim bio bolje plasiran prosle godine na tabeli
def addRankAttribure(row, rankData):
    homeTeam = row['Home Team']
    visitorTeam = row['Visitor Team']
    #moramo da promenimo imena nekim timovima koji se ne zovu vise isto kao prosle godine
    if homeTeam == 'New Orleans Pelicans':
        homeTeam = 'New Orleans Hornets'
    if visitorTeam == 'New Orleans Pelicans':
        visitorTeam = 'New Orleans Hornets'
    homeRank = rankData.loc[homeTeam]['Rk']
    visitorRank = rankData.loc[visitorTeam]['Rk']
    return homeRank < visitorRank

In [33]:
data1['Home Team Ranks Higher'] = data1.apply(addRankAttribure, axis = 1, args=[table2012])
data1.head()

,Date,Start (ET),Visitor Team,Visitor PTS,Home Team,Home PTS,OT,Attendance,Home Win,Visitor Winning Streak,Home Winning Streak,Home Team Ranks Higher
0,2013-10-29,7:00 pm,Orlando Magic,87,Indiana Pacers,97,NaN,18165,True,0,0,True
1,2013-10-29,10:30 pm,Los Angeles Clippers,103,Los Angeles Lakers,116,NaN,18997,True,0,0,False
2,2013-10-29,8:00 pm,Chicago Bulls,95,Miami Heat,107,NaN,19964,True,0,0,True
3,2013-10-30,7:00 pm,Brooklyn Nets,94,Cleveland Cavaliers,98,NaN,20562,True,0,0,False
4,2013-10-30,8:30 pm,Atlanta Hawks,109,Dallas Mavericks,118,NaN,19834,True,0,0,False

In [46]:
#dodajemo atribute broj pobeda u sezoni do utakmice i broj poraza
def addWinLosAttribute(data):
    data['Games Played Home Team'] = 0
    data['Games Played Visitor Team'] = 0
    data['Games Won Home Team'] = 0
    data['Games Won Visitor Team'] = 0
    data['Games Lost Home Team'] = 0
    data['Games Lost Visitor Team'] = 0
    gamesPlayed = {}
    gamesWon = {}
    for ind, row in data.iterrows():
        homeTeam = row['Home Team']
        visitorTeam = row['Visitor Team']
        if homeTeam not in gamesPlayed:
            gamesPlayed[homeTeam] = 0
            gamesWon[homeTeam] = 0
        if visitorTeam not in gamesPlayed:
            gamesPlayed[visitorTeam] = 0
            gamesWon[visitorTeam] = 0
            
        data.set_value(ind, 'Games Played Home Team', gamesPlayed[homeTeam])
        data.set_value(ind, 'Games Played Visitor Team', gamesPlayed[visitorTeam])
        data.set_value(ind, 'Games Won Home Team', gamesWon[homeTeam])
        data.set_value(ind, 'Games Won Visitor Team', gamesWon[visitorTeam])
        data.set_value(ind, 'Games Lost Home Team', int(gamesPlayed[homeTeam] - gamesWon[homeTeam]))
        data.set_value(ind, 'Games Lost Visitor Team', int(gamesPlayed[visitorTeam] -  gamesWon[visitorTeam]))

        if row['Home Win']:
            gamesWon[homeTeam] += 1
        else:
            gamesWon[visitorTeam] += 1
        gamesPlayed[homeTeam] += 1
        gamesPlayed[visitorTeam] +=1 
    return data

In [47]:
data1 = addWinLosAttribute(data1)
data1[:50]

C:\Users\Filip\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Filip\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Filip\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Filip\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Filip\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Filip\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

,Date,Start (ET),Visitor Team,Visitor PTS,Home Team,Home PTS,OT,Attendance,Home Win,Visitor Winning Streak,...,Games Played Home Team,Games Played Visitor Team,Games Won Home Team,Games Won Visitor Team,Games Lost Home Team,Games Lost Visitor Team,Home Team Points Scored,Home Team Points Received,Visitor Team Points Scored,Visitor Team Points Received
0,2013-10-29,7:00 pm,Orlando Magic,87,Indiana Pacers,97,NaN,18165,True,0,...,0,0,0,0,0,0,0,0,0,0
1,2013-10-29,10:30 pm,Los Angeles Clippers,103,Los Angeles Lakers,116,NaN,18997,True,0,...,0,0,0,0,0,0,0,0,0,0
2,2013-10-29,8:00 pm,Chicago Bulls,95,Miami Heat,107,NaN,19964,True,0,...,0,0,0,0,0,0,0,0,0,0
3,2013-10-30,7:00 pm,Brooklyn Nets,94,Cleveland Cavaliers,98,NaN,20562,True,0,...,0,0,0,0,0,0,0,0,0,0
4,2013-10-30,8:30 pm,Atlanta Hawks,109,Dallas Mavericks,118,NaN,19834,True,0,...,0,0,0,0,0,0,0,0,0,0
5,2013-10-30,7:30 pm,Washington Wizards,102,Detroit Pistons,113,NaN,19258,True,0,...,0,0,0,0,0,0,0,0,0,0
6,2013-10-30,10:30 pm,Los Angeles Lakers,94,Golden State Warriors,125,NaN,19596,True,1,...,0,1,0,1,0,0,0,0,116,103
7,2013-10-30,8:00 pm,Charlotte Bobcats,83,Houston Rockets,96,NaN,18083,True,0,...,0,0,0,0,0,0,0,0,0,0
8,2013-10-30,8:00 pm,Orlando Magic,115,Minnesota Timberwolves,120,OT,17988,True,0,...,0,1,0,0,0,1,0,0,87,97
9,2013-10-30,8:00 pm,Indiana Pacers,95,New Orleans Pelicans,90,NaN,17803,False,1,...,0,1,0,1,0,0,0,0,97,87
10,2013-10-30,7:30 pm,Milwaukee Bucks,83,New York Knicks,90,NaN,19812,True,0,...,0,0,0,0,0,0,0,0,0,0
11,2013-10-30,7:00 pm,Miami Heat,110,Philadelphia 76ers,114,NaN,19523,True,1,...,0,1,0,1,0,0,0,0,107,95
12,2013-10-30,10:00 pm,Portland Trail Blazers,91,Phoenix Suns,104,NaN,17208,True,0,...,0,0,0,0,0,0,0,0,0,0
13,2013-10-30,10:00 pm,Denver Nuggets,88,Sacramento Kings,90,NaN,17317,True,0,...,0,0,0,0,0,0,0,0,0,0
14,2013-10-30,8:30 pm,Memphis Grizzlies,94,San Antonio Spurs,101,NaN,18581,True,0,...,0,0,0,0,0,0,0,0,0,0
15,2013-10-30,7:00 pm,Boston Celtics,87,Toronto Raptors,93,NaN,20155,True,0,...,0,0,0,0,0,0,0,0,0,0
16,2013-10-30,9:00 pm,Oklahoma City Thunder,101,Utah Jazz,98,NaN,19911,False,0,...,0,0,0,0,0,0,0,0,0,0
17,2013-10-31,8:00 pm,New York Knicks,81,Chicago Bulls,82,NaN,22022,True,1,...,1,1,0,1,1,0,95,107,90,83
18,2013-10-31,10:30 pm,Golden State Warriors,115,Los Angeles Clippers,126,NaN,19060,True,1,...,1,1,0,1,1,0,103,116,125,94
19,2013-11-01,7:30 pm,Toronto Raptors,95,Atlanta Hawks,102,NaN,18118,True,1,...,1,1,0,1,1,0,109,118,93,87
20,2013-11-01,7:30 pm,Milwaukee Bucks,105,Boston Celtics,98,NaN,18624,False,0,...,1,1,0,0,1,1,87,93,83,90
21,2013-11-01,8:00 pm,Miami Heat,100,Brooklyn Nets,101,NaN,17732,True,0,...,1,2,0,1,1,1,94,98,217,209
22,2013-11-01,7:00 pm,Cleveland Cavaliers,84,Charlotte Bobcats,90,NaN,18017,True,1,...,1,1,0,1,1,0,83,96,98,94
23,2013-11-01,9:00 pm,Portland Trail Blazers,113,Denver Nuggets,98,NaN,19155,False,0,...,1,1,0,0,1,1,88,90,91,104
24,2013-11-01,8:00 pm,Dallas Mavericks,105,Houston Rockets,113,NaN,18142,True,1,...,1,1,1,1,0,0,96,83,118,109
25,2013-11-01,10:30 pm,San Antonio Spurs,91,Los Angeles Lakers,85,NaN,18997,False,1,...,2,1,1,1,1,0,210,228,101,94
26,2013-11-01,8:00 pm,Detroit Pistons,108,Memphis Grizzlies,111,OT,18119,True,1,...,1,1,0,1,1,0,94,101,113,102
27,2013-11-01,8:00 pm,Oklahoma City Thunder,81,Minnesota Timberwolves,100,NaN,17433,True,1,...,1,1,1,1,0,0,120,115,101,98
28,2013-11-01,7:00 pm,New Orleans Pelicans,90,Orlando Magic,110,NaN,18846,True,0,...,2,1,0,0,2,1,202,217,90,95
29,2013-11-01,10:00 pm,Utah Jazz,84,Phoenix Suns,87,NaN,14662,True,0,...,1,1,1,0,0,1,104,91,98,101
30,2013-11-01,10:00 pm,Los Angeles Clippers,110,Sacramento Kings,101,NaN,17317,False,1,...,1,2,1,1,0,1,90,88,229,231
31,2013-11-01,7:00 pm,Philadelphia 76ers,109,Washington Wizards,102,NaN,17160,False,1,...,1,1,0,1,1,0,102,113,114,110
32,2013-11-02,8:30 pm,Memphis Grizzlies,99,Dallas Mavericks,111,NaN,20262,True,1,...,2,2,1,1,1,1,223,222,205,209
33,2013-11-02,10:30 pm,Sacramento Kings,87,Golden State Warriors,98,NaN,19596,True,0,...,2,2,1,1,1,1,240,220,191,198
34,2013-11-02,7:00 pm,Cleveland Cavaliers,74,Indiana Pacers,89,NaN,16242,True,0,...,2,2,2,1,0,1,192,177,182,184
35,2013-11-02,8:30 pm,Toronto Raptors,97,Milwaukee Bucks,90,NaN,16046,False,0,...,2,2,1,1,1,1,188,188,188,189
36,2013-11-02,8:00 pm,Charlotte Bobcats,84,New Orleans Pelicans,105,NaN,15232,True,1,...,2,2,0,1,2,1,180,205,173,180
37,2013-11-02,7:30 pm,Chicago Bulls,104,Philadelphia 76ers,107,NaN,15782,True,1,...,2,2,2,1,0,1,223,212,177,188
38,2013-11-02,10:00 pm,San Antonio Spurs,105,Portland Trail Blazers,115,NaN,20028,True,2,...,2,2,1,2,1,0,204,202,192,179
39,2013-11-02,9:00 pm,Houston Rockets,104,Utah Jazz,93,NaN,19498,False,2,...,2,2,0,2,2,0,182,188,209,188
40,2013-11-03,6:00 pm,Boston Celtics,77,Detroit Pistons,87,NaN,14978,True,0,...,2,2,1,0,1,2,221,213,185,198
41,2013-11-03,9:30 pm,Atlanta Hawks,103,Los Angeles Lakers,105,NaN,18997,True,1,...,3,2,1,1,2,1,295,319,211,213
42,2013-11-03,6:00 pm,Washington Wizards,93,Miami Heat,103,NaN,19600,True,0,...,3,2,1,0,2,2,317,310,204,222
43,2013-11-03,7:30 pm,Minnesota Timberwolves,109,New York Knicks,100,NaN,19812,False,2,...,2,2,1,2,1,0,171,165,220,196
44,2013-11-03,7:00 pm,Phoenix Suns,96,Oklahoma City Thunder,103,NaN,18203,True,2,...,2,2,1,2,1,0,182,198,191,175
45,2013-11-03,6:00 pm,Brooklyn Nets,86,Orlando Magic,107,NaN,15297,True,1,...,3,2,1,1,2,1,312,307,195,198
46,2013-11-04,7:00 pm,Minnesota Timberwolves,92,Cleveland Cavaliers,93,NaN,17892,True,3,...,3,3,1,3,2,0,256,273,329,296
47,2013-11-04,10:30 pm,Houston Rockets,118,Los Angeles Clippers,137,NaN,19404,True,3,...,3,3,2,3,1,0,339,332,313,281
48,2013-11-04,8:00 pm,Boston Celtics,88,Memphis Grizzlies,95,NaN,15872,True,0,...,3,3,1,0,2,3,304,320,262,285
49,2013-11-04,7:00 pm,Golden State Warriors,110,Philadelphia 76ers,90,NaN,11089,False,1,...,3,3,3,2,0,1,330,316,338,307

In [36]:
#dodajemo atribut koji oznacava broj postignutih i broj primljenih poena za svaki tim
def addPointsAttr(data):
    data['Home Team Points Scored'] = 0
    data['Home Team Points Received'] = 0
    data['Visitor Team Points Scored'] = 0
    data['Visitor Team Points Received'] = 0
    pointsScored = {}
    pointsReceived = {}
    
    for ind, row in data.iterrows():
        homeTeam = row['Home Team']
        visitorTeam = row['Visitor Team']
        if homeTeam not in pointsScored:
            pointsScored[homeTeam] = 0
            pointsReceived[homeTeam] = 0
        if visitorTeam not in pointsScored:
            pointsScored[visitorTeam] = 0
            pointsReceived[visitorTeam] = 0
        data.set_value(ind, 'Home Team Points Scored', pointsScored[homeTeam])
        data.set_value(ind, 'Home Team Points Received', pointsReceived[homeTeam])
        data.set_value(ind, 'Visitor Team Points Scored', pointsScored[visitorTeam])
        data.set_value(ind, 'Visitor Team Points Received', pointsReceived[visitorTeam])
        
        pointsScored[homeTeam] += row['Home PTS']
        pointsReceived[homeTeam] += row['Visitor PTS']
        pointsScored[visitorTeam] += row['Visitor PTS']
        pointsReceived[visitorTeam] += row['Home PTS']
    return data

In [37]:
data1 = addPointsAttr(data1)
data1[ : 50]

C:\Users\Filip\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Filip\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Filip\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Filip\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

,Date,Start (ET),Visitor Team,Visitor PTS,Home Team,Home PTS,OT,Attendance,Home Win,Visitor Winning Streak,...,Games Played Home Team,Games Played Visitor Team,Games Won Home Team,Games Won Visitor Team,Games Lost Home Team,Games Lost Visitor Team,Home Team Points Scored,Home Team Points Received,Visitor Team Points Scored,Visitor Team Points Received
0,2013-10-29,7:00 pm,Orlando Magic,87,Indiana Pacers,97,NaN,18165,True,0,...,0,0,0,0,0,0,0,0,0,0
1,2013-10-29,10:30 pm,Los Angeles Clippers,103,Los Angeles Lakers,116,NaN,18997,True,0,...,0,0,0,0,0,0,0,0,0,0
2,2013-10-29,8:00 pm,Chicago Bulls,95,Miami Heat,107,NaN,19964,True,0,...,0,0,0,0,0,0,0,0,0,0
3,2013-10-30,7:00 pm,Brooklyn Nets,94,Cleveland Cavaliers,98,NaN,20562,True,0,...,0,0,0,0,0,0,0,0,0,0
4,2013-10-30,8:30 pm,Atlanta Hawks,109,Dallas Mavericks,118,NaN,19834,True,0,...,0,0,0,0,0,0,0,0,0,0
5,2013-10-30,7:30 pm,Washington Wizards,102,Detroit Pistons,113,NaN,19258,True,0,...,0,0,0,0,0,0,0,0,0,0
6,2013-10-30,10:30 pm,Los Angeles Lakers,94,Golden State Warriors,125,NaN,19596,True,1,...,0,1,0,1,0,0,0,0,116,103
7,2013-10-30,8:00 pm,Charlotte Bobcats,83,Houston Rockets,96,NaN,18083,True,0,...,0,0,0,0,0,0,0,0,0,0
8,2013-10-30,8:00 pm,Orlando Magic,115,Minnesota Timberwolves,120,OT,17988,True,0,...,0,1,0,0,0,1,0,0,87,97
9,2013-10-30,8:00 pm,Indiana Pacers,95,New Orleans Pelicans,90,NaN,17803,False,1,...,0,1,0,1,0,0,0,0,97,87
10,2013-10-30,7:30 pm,Milwaukee Bucks,83,New York Knicks,90,NaN,19812,True,0,...,0,0,0,0,0,0,0,0,0,0
11,2013-10-30,7:00 pm,Miami Heat,110,Philadelphia 76ers,114,NaN,19523,True,1,...,0,1,0,1,0,0,0,0,107,95
12,2013-10-30,10:00 pm,Portland Trail Blazers,91,Phoenix Suns,104,NaN,17208,True,0,...,0,0,0,0,0,0,0,0,0,0
13,2013-10-30,10:00 pm,Denver Nuggets,88,Sacramento Kings,90,NaN,17317,True,0,...,0,0,0,0,0,0,0,0,0,0
14,2013-10-30,8:30 pm,Memphis Grizzlies,94,San Antonio Spurs,101,NaN,18581,True,0,...,0,0,0,0,0,0,0,0,0,0
15,2013-10-30,7:00 pm,Boston Celtics,87,Toronto Raptors,93,NaN,20155,True,0,...,0,0,0,0,0,0,0,0,0,0
16,2013-10-30,9:00 pm,Oklahoma City Thunder,101,Utah Jazz,98,NaN,19911,False,0,...,0,0,0,0,0,0,0,0,0,0
17,2013-10-31,8:00 pm,New York Knicks,81,Chicago Bulls,82,NaN,22022,True,1,...,1,1,0,1,1,0,95,107,90,83
18,2013-10-31,10:30 pm,Golden State Warriors,115,Los Angeles Clippers,126,NaN,19060,True,1,...,1,1,0,1,1,0,103,116,125,94
19,2013-11-01,7:30 pm,Toronto Raptors,95,Atlanta Hawks,102,NaN,18118,True,1,...,1,1,0,1,1,0,109,118,93,87
20,2013-11-01,7:30 pm,Milwaukee Bucks,105,Boston Celtics,98,NaN,18624,False,0,...,1,1,0,0,1,1,87,93,83,90
21,2013-11-01,8:00 pm,Miami Heat,100,Brooklyn Nets,101,NaN,17732,True,0,...,1,2,0,1,1,1,94,98,217,209
22,2013-11-01,7:00 pm,Cleveland Cavaliers,84,Charlotte Bobcats,90,NaN,18017,True,1,...,1,1,0,1,1,0,83,96,98,94
23,2013-11-01,9:00 pm,Portland Trail Blazers,113,Denver Nuggets,98,NaN,19155,False,0,...,1,1,0,0,1,1,88,90,91,104
24,2013-11-01,8:00 pm,Dallas Mavericks,105,Houston Rockets,113,NaN,18142,True,1,...,1,1,1,1,0,0,96,83,118,109
25,2013-11-01,10:30 pm,San Antonio Spurs,91,Los Angeles Lakers,85,NaN,18997,False,1,...,2,1,1,1,1,0,210,228,101,94
26,2013-11-01,8:00 pm,Detroit Pistons,108,Memphis Grizzlies,111,OT,18119,True,1,...,1,1,0,1,1,0,94,101,113,102
27,2013-11-01,8:00 pm,Oklahoma City Thunder,81,Minnesota Timberwolves,100,NaN,17433,True,1,...,1,1,1,1,0,0,120,115,101,98
28,2013-11-01,7:00 pm,New Orleans Pelicans,90,Orlando Magic,110,NaN,18846,True,0,...,2,1,0,0,2,1,202,217,90,95
29,2013-11-01,10:00 pm,Utah Jazz,84,Phoenix Suns,87,NaN,14662,True,0,...,1,1,1,0,0,1,104,91,98,101
30,2013-11-01,10:00 pm,Los Angeles Clippers,110,Sacramento Kings,101,NaN,17317,False,1,...,1,2,1,1,0,1,90,88,229,231
31,2013-11-01,7:00 pm,Philadelphia 76ers,109,Washington Wizards,102,NaN,17160,False,1,...,1,1,0,1,1,0,102,113,114,110
32,2013-11-02,8:30 pm,Memphis Grizzlies,99,Dallas Mavericks,111,NaN,20262,True,1,...,2,2,1,1,1,1,223,222,205,209
33,2013-11-02,10:30 pm,Sacramento Kings,87,Golden State Warriors,98,NaN,19596,True,0,...,2,2,1,1,1,1,240,220,191,198
34,2013-11-02,7:00 pm,Cleveland Cavaliers,74,Indiana Pacers,89,NaN,16242,True,0,...,2,2,2,1,0,1,192,177,182,184
35,2013-11-02,8:30 pm,Toronto Raptors,97,Milwaukee Bucks,90,NaN,16046,False,0,...,2,2,1,1,1,1,188,188,188,189
36,2013-11-02,8:00 pm,Charlotte Bobcats,84,New Orleans Pelicans,105,NaN,15232,True,1,...,2,2,0,1,2,1,180,205,173,180
37,2013-11-02,7:30 pm,Chicago Bulls,104,Philadelphia 76ers,107,NaN,15782,True,1,...,2,2,2,1,0,1,223,212,177,188
38,2013-11-02,10:00 pm,San Antonio Spurs,105,Portland Trail Blazers,115,NaN,20028,True,2,...,2,2,1,2,1,0,204,202,192,179
39,2013-11-02,9:00 pm,Houston Rockets,104,Utah Jazz,93,NaN,19498,False,2,...,2,2,0,2,2,0,182,188,209,188
40,2013-11-03,6:00 pm,Boston Celtics,77,Detroit Pistons,87,NaN,14978,True,0,...,2,2,1,0,1,2,221,213,185,198
41,2013-11-03,9:30 pm,Atlanta Hawks,103,Los Angeles Lakers,105,NaN,18997,True,1,...,3,2,1,1,2,1,295,319,211,213
42,2013-11-03,6:00 pm,Washington Wizards,93,Miami Heat,103,NaN,19600,True,0,...,3,2,1,0,2,2,317,310,204,222
43,2013-11-03,7:30 pm,Minnesota Timberwolves,109,New York Knicks,100,NaN,19812,False,2,...,2,2,1,2,1,0,171,165,220,196
44,2013-11-03,7:00 pm,Phoenix Suns,96,Oklahoma City Thunder,103,NaN,18203,True,2,...,2,2,1,2,1,0,182,198,191,175
45,2013-11-03,6:00 pm,Brooklyn Nets,86,Orlando Magic,107,NaN,15297,True,1,...,3,2,1,1,2,1,312,307,195,198
46,2013-11-04,7:00 pm,Minnesota Timberwolves,92,Cleveland Cavaliers,93,NaN,17892,True,3,...,3,3,1,3,2,0,256,273,329,296
47,2013-11-04,10:30 pm,Houston Rockets,118,Los Angeles Clippers,137,NaN,19404,True,3,...,3,3,2,3,1,0,339,332,313,281
48,2013-11-04,8:00 pm,Boston Celtics,88,Memphis Grizzlies,95,NaN,15872,True,0,...,3,3,1,0,2,3,304,320,262,285
49,2013-11-04,7:00 pm,Golden State Warriors,110,Philadelphia 76ers,90,NaN,11089,False,1,...,3,3,3,2,0,1,330,316,338,307

In [48]:
#dodajemo atribute koji oznacavaju broj pobeda domaceg tima u utakmicama u kojima je bio domacin, slicno za gostujuci tim
def addHomeWinRateAttr(data):
    data['Games Played Home Court'] = 0
    data['Games Played Visitor Court'] = 0
    data['Games Won Home Court'] = 0
    data['Games Won Visitor Court'] = 0
    gamesPlayedHome = {}
    gamesWonHome = {}
    for ind, row in data.iterrows():
        homeTeam = row['Home Team']
        visitorTeam = row['Visitor Team']
        if homeTeam not in gamesPlayedHome:
            gamesPlayedHome[homeTeam] = 0
            gamesWonHome[homeTeam] = 0
        if visitorTeam not in gamesPlayedHome:
            gamesPlayedHome[visitorTeam] = 0
            gamesWonHome[visitorTeam] = 0
        
        data.set_value(ind, 'Games Played Home Court', gamesPlayedHome[homeTeam])
        data.set_value(ind, 'Games Played Visitor Court', data.loc[ind]['Games Played Visitor Team'] - gamesPlayedHome[visitorTeam])
        data.set_value(ind, 'Games Won Home Court', gamesWonHome[homeTeam])
        data.set_value(ind, 'Games Won Visitor Court', data.loc[ind]['Games Won Visitor Team'] - gamesWonHome[visitorTeam])
        
        if row['Home Win']:
            gamesWonHome[homeTeam] += 1
        gamesPlayedHome[homeTeam] +=1
        
    return data

In [49]:
data1 = addHomeWinRateAttr(data1)
data1

C:\Users\Filip\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Filip\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Filip\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Filip\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

,Date,Start (ET),Visitor Team,Visitor PTS,Home Team,Home PTS,OT,Attendance,Home Win,Visitor Winning Streak,...,Games Lost Home Team,Games Lost Visitor Team,Home Team Points Scored,Home Team Points Received,Visitor Team Points Scored,Visitor Team Points Received,Games Played Home Court,Games Played Visitor Court,Games Won Home Court,Games Won Visitor Court
0,2013-10-29,7:00 pm,Orlando Magic,87,Indiana Pacers,97,NaN,18165,True,0,...,0,0,0,0,0,0,0,0,0,0
1,2013-10-29,10:30 pm,Los Angeles Clippers,103,Los Angeles Lakers,116,NaN,18997,True,0,...,0,0,0,0,0,0,0,0,0,0
2,2013-10-29,8:00 pm,Chicago Bulls,95,Miami Heat,107,NaN,19964,True,0,...,0,0,0,0,0,0,0,0,0,0
3,2013-10-30,7:00 pm,Brooklyn Nets,94,Cleveland Cavaliers,98,NaN,20562,True,0,...,0,0,0,0,0,0,0,0,0,0
4,2013-10-30,8:30 pm,Atlanta Hawks,109,Dallas Mavericks,118,NaN,19834,True,0,...,0,0,0,0,0,0,0,0,0,0
5,2013-10-30,7:30 pm,Washington Wizards,102,Detroit Pistons,113,NaN,19258,True,0,...,0,0,0,0,0,0,0,0,0,0
6,2013-10-30,10:30 pm,Los Angeles Lakers,94,Golden State Warriors,125,NaN,19596,True,1,...,0,0,0,0,116,103,0,0,0,0
7,2013-10-30,8:00 pm,Charlotte Bobcats,83,Houston Rockets,96,NaN,18083,True,0,...,0,0,0,0,0,0,0,0,0,0
8,2013-10-30,8:00 pm,Orlando Magic,115,Minnesota Timberwolves,120,OT,17988,True,0,...,0,1,0,0,87,97,0,1,0,0
9,2013-10-30,8:00 pm,Indiana Pacers,95,New Orleans Pelicans,90,NaN,17803,False,1,...,0,0,0,0,97,87,0,0,0,0
10,2013-10-30,7:30 pm,Milwaukee Bucks,83,New York Knicks,90,NaN,19812,True,0,...,0,0,0,0,0,0,0,0,0,0
11,2013-10-30,7:00 pm,Miami Heat,110,Philadelphia 76ers,114,NaN,19523,True,1,...,0,0,0,0,107,95,0,0,0,0
12,2013-10-30,10:00 pm,Portland Trail Blazers,91,Phoenix Suns,104,NaN,17208,True,0,...,0,0,0,0,0,0,0,0,0,0
13,2013-10-30,10:00 pm,Denver Nuggets,88,Sacramento Kings,90,NaN,17317,True,0,...,0,0,0,0,0,0,0,0,0,0
14,2013-10-30,8:30 pm,Memphis Grizzlies,94,San Antonio Spurs,101,NaN,18581,True,0,...,0,0,0,0,0,0,0,0,0,0
15,2013-10-30,7:00 pm,Boston Celtics,87,Toronto Raptors,93,NaN,20155,True,0,...,0,0,0,0,0,0,0,0,0,0
16,2013-10-30,9:00 pm,Oklahoma City Thunder,101,Utah Jazz,98,NaN,19911,False,0,...,0,0,0,0,0,0,0,0,0,0
17,2013-10-31,8:00 pm,New York Knicks,81,Chicago Bulls,82,NaN,22022,True,1,...,1,0,95,107,90,83,0,0,0,0
18,2013-10-31,10:30 pm,Golden State Warriors,115,Los Angeles Clippers,126,NaN,19060,True,1,...,1,0,103,116,125,94,0,0,0,0
19,2013-11-01,7:30 pm,Toronto Raptors,95,Atlanta Hawks,102,NaN,18118,True,1,...,1,0,109,118,93,87,0,0,0,0
20,2013-11-01,7:30 pm,Milwaukee Bucks,105,Boston Celtics,98,NaN,18624,False,0,...,1,1,87,93,83,90,0,1,0,0
21,2013-11-01,8:00 pm,Miami Heat,100,Brooklyn Nets,101,NaN,17732,True,0,...,1,1,94,98,217,209,0,1,0,0
22,2013-11-01,7:00 pm,Cleveland Cavaliers,84,Charlotte Bobcats,90,NaN,18017,True,1,...,1,0,83,96,98,94,0,0,0,0
23,2013-11-01,9:00 pm,Portland Trail Blazers,113,Denver Nuggets,98,NaN,19155,False,0,...,1,1,88,90,91,104,0,1,0,0
24,2013-11-01,8:00 pm,Dallas Mavericks,105,Houston Rockets,113,NaN,18142,True,1,...,0,0,96,83,118,109,1,0,1,0
25,2013-11-01,10:30 pm,San Antonio Spurs,91,Los Angeles Lakers,85,NaN,18997,False,1,...,1,0,210,228,101,94,1,0,1,0
26,2013-11-01,8:00 pm,Detroit Pistons,108,Memphis Grizzlies,111,OT,18119,True,1,...,1,0,94,101,113,102,0,0,0,0
27,2013-11-01,8:00 pm,Oklahoma City Thunder,81,Minnesota Timberwolves,100,NaN,17433,True,1,...,0,0,120,115,101,98,1,1,1,1
28,2013-11-01,7:00 pm,New Orleans Pelicans,90,Orlando Magic,110,NaN,18846,True,0,...,2,1,202,217,90,95,0,0,0,0
29,2013-11-01,10:00 pm,Utah Jazz,84,Phoenix Suns,87,NaN,14662,True,0,...,0,1,104,91,98,101,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,2014-04-13,7:30 pm,Chicago Bulls,89,New York Knicks,100,NaN,19812,True,7,...,45,32,7780,7870,7397,7242,39,39,17,21
1201,2014-04-13,9:00 pm,Golden State Warriors,117,Portland Trail Blazers,119,OT,19995,True,1,...,28,30,8524,8205,8186,7804,39,39,29,23
1202,2014-04-13,9:00 pm,Minnesota Timberwolves,103,Sacramento Kings,106,NaN,16965,True,1,...,53,39,8036,8272,8415,8177,39,39,16,16
1203,2014-04-14,7:30 pm,Charlotte Bobcats,95,Atlanta Hawks,93,NaN,11918,False,1,...,43,39,8078,8123,7756,7781,40,40,24,17
1204,2014-04-14,8:00 pm,Orlando Magic,95,Chicago Bulls,108,NaN,22087,True,0,...,33,57,7486,7342,7733,8151,40,40,26,4
1205,2014-04-14,10:30 pm,Minnesota Timberwolves,120,Golden State Warriors,130,NaN,19596,True,0,...,31,40,8303,7923,8518,8283,40,40,26,16
1206,2014-04-14,8:00 pm,San Antonio Spurs,98,Houston Rockets,104,NaN,18406,True,2,...,27,18,8625,8252,8441,7789,40,40,32,30
1207,2014-04-14,8:00 pm,Oklahoma City Thunder,89,New Orleans Pelicans,101,NaN,17024,True,0,...,48,22,7971,8210,8504,7973,39,40,20,25
1208,2014-04-14,7:00 pm,Boston Celtics,108,Philadelphia 76ers,113,NaN,17822,True,2,...,63,55,7942,8817,7682,8027,40,40,9,9
1209,2014-04-14,10:00 pm,Memphis Grizzlies,97,Phoenix Suns,91,NaN,18422,False,3,...,33,32,8434,8217,7681,7559,40,40,26,22
1210,2014-04-14,7:00 pm,Milwaukee Bucks,100,Toronto Raptors,110,NaN,18821,True,0,...,33,65,8103,7844,7626,8279,40,40,25,5
1211,2014-04-14,9:00 pm,Los Angeles Lakers,119,Utah Jazz,104,NaN,19911,False,0,...,56,55,7551,8130,8210,8754,40,39,16,11
1212,2014-04-14,7:00 pm,Miami Heat,93,Washington Wizards,114,NaN,20356,True,0,...,38,26,8022,7955,8200,7776,40,40,21,22
1213,2014-04-15,8:00 pm,New York Knicks,109,Brooklyn Nets,98,NaN,17732,False,2,...,36,45,7896,7938,7880,7959,40,40,28,17
1214,2014-04-15,10:30 pm,Denver Nuggets,105,Los Angeles Clippers,117,NaN,19330,True,3,...,24,44,8629,8063,8342,8502,40,40,33,14
1215,2014-04-16,8:00 pm,Washington Wizards,118,Boston Celtics,102,NaN,18624,False,3,...,56,38,7790,8140,8136,8048,40,40,16,21
1216,2014-04-16,7:00 pm,Chicago Bulls,86,Charlotte Bobcats,91,OT,17627,True,1,...,39,33,7851,7874,7594,7437,40,40,24,21
1217,2014-04-16,8:00 pm,Brooklyn Nets,85,Cleveland Cavaliers,114,NaN,19842,True,0,...,49,37,7940,8239,7994,8047,40,40,18,16
1218,2014-04-16,10:30 pm,Golden State Warriors,116,Denver Nuggets,112,NaN,17232,False,1,...,45,31,8447,8619,8433,8043,40,40,22,23
1219,2014-04-16,8:00 pm,Dallas Mavericks,105,Memphis Grizzlies,106,OT,17323,True,1,...,32,32,7778,7650,8492,8294,40,40,26,23
1220,2014-04-16,8:00 pm,Philadelphia 76ers,100,Miami Heat,87,NaN,20350,False,1,...,27,63,8293,7890,8055,8925,40,40,32,8
1221,2014-04-16,8:00 pm,Atlanta Hawks,111,Milwaukee Bucks,103,NaN,13111,False,0,...,66,44,7726,8389,8171,8218,40,40,10,13
1222,2014-04-16,8:00 pm,Utah Jazz,136,Minnesota Timberwolves,130,2OT,14155,False,0,...,41,57,8638,8413,7655,8249,40,40,24,8
1223,2014-04-16,8:00 pm,Houston Rockets,100,New Orleans Pelicans,105,NaN,17421,True,2,...,48,27,8072,8299,8729,8350,40,40,21,21
1224,2014-04-16,8:00 pm,Toronto Raptors,92,New York Knicks,95,NaN,19812,True,2,...,45,33,7989,8057,8213,7944,40,40,18,22
1225,2014-04-16,8:00 pm,Detroit Pistons,111,Oklahoma City Thunder,112,NaN,18203,True,0,...,23,52,8593,8074,8175,8474,40,40,33,12
1226,2014-04-16,7:00 pm,Indiana Pacers,101,Orlando Magic,86,NaN,18846,False,1,...,58,26,7828,8259,7832,7486,40,40,19,20
1227,2014-04-16,10:30 pm,Los Angeles Clippers,104,Portland Trail Blazers,110,NaN,20021,True,2,...,28,24,8643,8322,8746,8168,40,40,30,23
1228,2014-04-16,10:30 pm,Phoenix Suns,104,Sacramento Kings,99,NaN,17317,False,0,...,53,34,8142,8375,8525,8314,40,40,17,21
1229,2014-04-16,8:00 pm,Los Angeles Lakers,113,San Antonio Spurs,100,NaN,18581,False,1,...,19,55,8539,7893,8329,8858,40,40,32,12